body {
    margin: 0;
}

    /* BARRA SITE */
section.header-social {
    display: flex;

    background-color: #25232396;

    justify-content: space-between;
}

.header-social img.logotipo {
    margin: 5px 25px;

    width: 70px;
    height: 65px;
}

.header-social ul {
    display: flex;

    padding: 0;
    width: 95%;

    justify-content: flex-end;
    align-items: center;
}

.header-social li {
    margin-left: 15px;

    list-style-type: none;

}

.header-social nav li:last-child {
    margin-right: 50px;    
}

.header-social img.social {
    width: 35px;
    height: 35px;
}

    /* APRESENTAÇÃO */

div.apresentacao {
    background-image: url('../img/workstation.jpg');
    background-color: rgba(0, 0, 0, 0.699);  
    background-size: cover;

    min-height: 75vh;    
}

div.apresentacao h1, h3 {
    color: whitesmoke;

    margin: 0;
    text-align: center;
        
}